.users-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.user-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding: 20px;
  border: 1px solid rgb(210, 210, 210);
  border-radius: 8px;
  min-width: 600px;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.2);
}

.user-container button {
  background-color: red;
}
