textarea {
  height: 400px;
}

.delete-button {
  width: 500px;
  background-color: red;
}

.comment-buttons button {
  background-color: red;
}

.comments-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
